<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый отклик</title>
</head>
<body>
    <h2>Здравствуй, {{ respond.author.username }}!</h2>
    Новый отклик на ваше объявление <a href="{{ site_url }}{{ respond.advert.id }}">{{ respond.advert.title }}</a>:
    <p> {{ respond.text }} </p>
    Перейти к <a href="{{ site_url }}profile?advert={{ respond.advert.id }}">откликам</a>: на объявление {{ respond.advert.title }}.
</body>
</html>