{% extends "account/base.html" %}

{% load i18n %}

{% block page_heading %}
Регистрация
{% endblock page_heading %}

{% block page_subheading %}
Регистрация на сайте
{% endblock page_subheading %}

{% block page_level %}
post-heading
{% endblock page_level %}

{% block head_title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}
<h1>{% trans "Регистрация" %}</h1>

<p>{% blocktrans %}У вас уже есть аккаунт? Пожалуйста, <a href="{{ login_url }}">войдите</a> в него.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Зарегистрироваться" %} &raquo;</button>
</form>

{% endblock %}
